body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#logsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#logsTable th,
#logsTable td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#logsTable th {
    background-color: #f2f2f2;
}

#exportExcelButtonlog{
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 100px;

  }
#logContainer {

    display: flex;
}

#logoutButton {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
